<!DOCTYPE html>
<html>
<head>
  <title>FastFood Website</title>
  <style>
      body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
      }

      .container {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          height: 50px;
          background-color: #f8f9fa;
          padding: 0 20px;
      }

      .logout-button {
          padding: 10px 20px;
          font-size: 16px;
          background-color: #dc3545;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
      }

      .logout-button:hover {
          background-color: #c82333;
      }

      .title {
          font-size: 24px;
          margin-bottom: 20px;
          text-align: center;
      }

      .buttons-container {
          display: flex;
          justify-content: center;
      }

      .login-button, .register-button {
          padding: 10px 20px;
          margin: 0 10px;
          font-size: 18px;
          cursor: pointer;
          background-color: #007bff;
          color: #fff;
          border: none;
          border-radius: 5px;
          text-decoration: none;
      }

      .login-button:hover, .register-button:hover {
          background-color: #0056b3;
      }
  </style>
</head>
<body>

<div class="container">
  <%= button_to 'Вийти', logout_path, method: :delete, class: 'logout-button' %>
</div>

<div class="title">FastFood Website</div>
<div class="buttons-container">
  <a href="/users/sign_in" class="login-button">Войти</a>
  <form action="/users/sign_up" method="get">
    <button type="submit" class="register-button">Зарегистрироваться</button>
  </form>
</div>

</body>
</html>