<!-- app/views/layouts/application.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>Your Title</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Підключіть файл CSS Bootstrap -->
  <link rel="stylesheet" href="">

  <!-- Підключіть ваші стилі -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<%= yield %>
</body>
</html>
